<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Resume Analyzer</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="container">

<h1>🤖 AI Resume Analyzer</h1>

<p class="subtitle">

Upload your Resume (PDF) and get ATS Score,
AI Review, Skills Analysis and PDF Report.

</p>

<form action="/analyze" method="POST" enctype="multipart/form-data">

    <div class="upload-box">

        <input
            type="file"
            name="resume"
            accept=".pdf"
            required
        >

    </div>

    <div class="upload-box">

        <label for="job_description">
            <strong>Job Description (Optional)</strong>
        </label>

        <textarea
            id="job_description"
            name="job_description"
            rows="10"
            placeholder="Paste Job Description here..."
        ></textarea>

    </div>

    <button type="submit">
        📄 Analyze Resume
    </button>

</form>
</div>

</body>

</html>